__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
client/node_modules
config.ini
config.yaml
config.yml
!setup/config.yml
data/
db_create.sh
*-env/
.env
!setup/.env
logs/
migrations/
modules/
modules/flask/jinja_filters.py
modules/google/
old_files/
*.pem
*_plugin.so
*.psql
recipe_archiver.py
!app/recipe_archiver.py
requirements_dev.txt
site*.ini
*.sock
static/
!modules/flask/static
modules/flask/static/react
modules/flask/static/img/*
!modules/flask/static/img/profile_default*
!app/static
app/static/react
app/static/img/*
!app/static/img/profile_default*
*uwsgi_plugins_builder/
vite.config.mjs.timestamp*